* {
    box-sizing: border-box;
    text-decoration: none;
    outline: 1px solid green;
    margin: 0;
    padding: 0;
}

:root {
    font-family: sans-serif;
    background-color: black;
    --yellow: #FFDE34; /* emoji yellow */
}

body {
    padding: 0 1rem;
}

button, input, span, a  {
    font-size: inherit;
    border-radius: .5rem;
    padding: .5rem;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

h1 {
    padding: 1rem 0;
}

h1,p {
    color: white;
}
