* {
    box-sizing: border-box;
    text-decoration: none;
    outline: 1px solid green;
    margin: 0;
    padding: 0;
}

:root {
    font-family: sans-serif;
}

body {
    padding: 0 1rem;
}

button, input, span, a  {
    font-size: inherit;
}

button {
    cursor: pointer;
}